.knees {
    display: flex;
    margin: 10px;

  }
  
  .knees-image {
    display: flex;
    justify-content:flex-start;
    margin-left: 400px;
  }
  
  .resize-image {
    width: 120px;
    height: auto;
  }
  