.chest {
    display: flex;
    margin: 10px;
    font-size: 35px;
  }
  
  .chest-image img {
    width: 75%; /* Reducir el tamaño de la imagen al 75% */
    height: auto;
    margin-left: 1%;
  }
  