.eyes {
    display: flex;
    margin: 10px;
  }
  
  .eyes-image {
    display: flex;
    justify-content: center;
    margin-left: 400px;
  }
  
  .resize-image {
    width: 120px;
    height: auto;
  }
  