.eyes {
    display: flex;
    margin: 10px;
    margin-left: 200px;
  }
  
  .body-part {
    font-size: 60px;
  }
  
  .eyes-image {
    display: flex;
    justify-content: center;
    margin-left: 400px;
  }
  
  .resize-image {
    width: 52%;
    height: auto;
  }
  